<!-- The view for editing a campground -->

<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate
                class="validated-form" enctype="multipart/form-data">
                <!-- Title input -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%= campground.title%>" required>
                </div>
                <!-- Location input -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        value="<%= campground.location%>" required>
                </div>

                <!-- Price input -->
                <div class="mb-3">
                    <label class="form-label" for="price">Camp price</label>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price label">$</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" required
                            value="<%= campground.price%>" placeholder="0.00" aria-label="Price"
                            aria-describedby="price label">
                    </div>
                </div>
                <!-- Description input -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description"
                        name="campground[description]"><%= campground.description%></textarea>
                </div>
                <!-- Image input -->
                <div class="mb-3">
                    <label for="images" class="form-label">Add images</label>
                    <input class="form-control" name="image" type="file" id="images" multiple>
                </div>
                <!-- Display images for deletion -->
                <div class="mb-3">
                    <% campground.images.forEach((img, i)=> { %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %>">Delete</label>
                        <% }) %>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Update</button>
                </div>
            </form>
            <div>
                <a href="/campgrounds/<%= campground._id%>">Back to campground</a>
            </div>
        </div>
    </div>